.zoombutton {
    position: fixed;
    font-size: 24pt;
    color: gray;
    right: 0px;
    width: 80px;
    height: 40px;
}

#canvaschoosediv {
    padding-top: 120px;
}

#plus {
    bottom: 40px;
}

#minus {
    bottom: 0px;
}

#back {
    position: fixed;
    left: 0px;
    width: 80px;
    height: 80px;
    bottom: 0px;
}

#colorpicker {
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 80px;
    width: 100%;
    font-size: 16px;
}